@import "./variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font_family);
}
html {
  font-size: 1.1rem;
}
body {
  background: $mainBkn;
  .italic {
    font-style: italic;
  }
  .bold {
    font-weight: bold !important;
    opacity: 1 !important;
  }
  ul {
    list-style-type: none;
  }
  img {
    user-select: none;
    -webkit-user-drag: none;
  }
  a {
    text-decoration: none;
  }
  p {
    user-select: initial;
  }
  .flex {
    display: flex;
    align-items: center;
  }
  .relative {
    position: relative;
  }
  .absolute {
    position: absolute;
  }
  .max-width {
    left: 50%;
    transform: translateX(-50%);
    max-width: 70rem;
  }
  .main {
    .main-container {
      padding: 2rem 1rem;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: flex-start;
    }
  }
}
*::-webkit-scrollbar {
  width: 0.5rem;
}
*::-webkit-scrollbar-thumb {
  border-radius: 200px;
  background: var(--cta_color);
}
*::-webkit-scrollbar-track {
  background: none;
}
