@import "./variables.scss";
.pomodoro-container {
  padding: 2rem 1rem;
  margin: 0.5rem;
  flex-direction: column;
  width: 100%;
  background: $squareBkn;
  border-radius: 0.4rem;
  max-width: 25rem;
  box-shadow: $boxShadow;
  .nav-container {
    width: 100%;
    ul {
      margin-bottom: 0.7rem;
      justify-content: space-between;
      li {
        color: $secondFontColor;
        font-weight: 500;
        font-size: 1rem;
        text-align: center;
        cursor: pointer;
      }
      li:nth-child(2) {
        margin: 0 1.5rem;
      }
      .selectedNav {
        color: $fontColor;
      }
    }
    hr {
      border-color: var(--cta_color);
      opacity: 0.4;
    }
  }
  .clock-container {
    margin: 2rem 0;
    color: $fontColor;
    font-size: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    > div {
      svg {
        path:nth-child(1) {
          stroke: var(--cta_color);
          fill: var(--cta_color);
          opacity: 0.4;
        }
      }
      > div {
        text-align: center;
        font-size: 2rem;
        span {
          color: $fontColor;
        }
        .time {
          font-size: 1.4rem;
          color: $secondFontColor;
        }
      }
    }
    .clock {
      border-radius: 50%;
      width: 80%;
      aspect-ratio: 1 / 1;
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        position: absolute;
        width: 150px;
        height: 150px;
        z-index: 1000;
        circle {
          width: 100%;
          height: 100%;
          fill: none;
          stroke: #191919;
          stroke-width: 10;
          stroke-linecap: round;
          transform: translate(5px, 5px);
        }
      }
      audio {
        display: block !important;
      }
      @keyframes dash {
        to {
          stroke-dashoffset: 0;
        }
      }
    }
  }
  .button-container {
    a {
      background-color: var(--cta_color);
      color: $fontColor;
      padding: 0.8rem 3rem;
      border-radius: 0.4rem;
      font-weight: bold;
      font-size: 1.3rem;
      cursor: pointer;
      width: 100%;
      display: block;
    }
    a:active {
      transform: translateY(0.3rem) !important;
      filter: brightness(0.9);
    }
  }
}
